backend code/.idea/
*.iml
target/
*.log
*.patch
.DS_Store
.mvn/
mvnw
mvnw.cmd
application-local.yml
application-dev.yml
*.class
*.jar
*.war
*.swp
*.swo
*.db
*.sqlite

# shadcn/ui – do not commit generated components
#frontend code/src/components/ui/

HELP.md
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
backend code/.idea
*.iws
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

