.login-page-container {
  border: 1px solid indianred;
  width: 600px;
}
.header {
  border: 1px solid indianred;
  font-size: 50px;
}
.textbox-input {
  border: 1px solid indianred;
}
.textbox-input {
  border: 1px solid indianred;
}
.info-check-password-reset-container {
  border: 1px solid indianred;
}
.login-button {
  border: 1px solid indianred;
}
.register-line {
  border: 1px solid indianred;
}
