<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pagination Component</title>
    <link th:href="@{/css/pagination.css}" rel="stylesheet">
</head>
<body>
<div th:fragment="pagination(currentPage, totalPages, pageSize)" class="pagination-box">
    <div class="pagination-container" th:fragment="pagination">
        <div class="records-per-page">
            Records per page:
            <label>
                <select>
                    <option>10</option>
                    <option>25</option>
                    <option>50</option>
                </select>
            </label>
        </div>
        <div class="pagination-buttons">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <!-- First Page -->
                    <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                        <a class="page-link" th:href="@{/web/employees/fetchEmployees(page=1,size=${pageSize})}"
                           th:classappend="${currentPage == 1} ? 'disabled'"
                           th:attr="aria-disabled=${currentPage == 1} ? 'true' : 'false'"> |<</a>
                    </li>
                    <!-- Previous Page -->
                    <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/web/employees/fetchEmployees(page=${currentPage - 1},size=${pageSize})}"
                           th:classappend="${currentPage == 1} ? 'disabled'"
                           th:attr="aria-disabled=${currentPage == 1} ? 'true' : 'false'"><</a>
                    </li>
                    <!-- Page Info -->
                    <li class="page-item">
                <span class="page-link"
                      th:text="${totalPages == 0} ? '0 page of 0' : ${currentPage} + ' page of ' + ${totalPages}"></span>
                    </li>
                    <!-- Next Page -->
                    <li class="page-item" th:classappend="${currentPage == totalPages or totalPages == 0} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/web/employees/fetchEmployees(page=${currentPage + 1},size=${pageSize})}"
                           th:classappend="${currentPage == totalPages or totalPages == 0} ? 'disabled'"
                           th:attr="aria-disabled=${currentPage == totalPages or totalPages == 0} ? 'true' : 'false'">></a>
                    </li>
                    <!-- Last Page -->
                    <li class="page-item" th:classappend="${currentPage == totalPages or totalPages == 0} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/web/employees/fetchEmployees(page=${totalPages},size=${pageSize})}"
                           th:classappend="${currentPage == totalPages or totalPages == 0} ? 'disabled'"
                           th:attr="aria-disabled=${currentPage == totalPages or totalPages == 0} ? 'true' : 'false'">>|</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>
</html>