<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>
<!-- @SuppressWarnings("SpringLinkExpression") -->
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/web/employees/fetchEmployees}" th:classappend="${currentPage == 'home'} ? 'active'">Employee Management</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item" sec:authorize="hasRole('USER')">
                    <a class="nav-link" th:classappend="${currentPage == 'searchEmployees'} ? 'active'" th:href="@{/web/employees/searchEmployees}">Search</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" th:classappend="${currentPage == 'addEmployees'} ? 'active'" th:href="@{/web/employees/addEmployees}">Add Employee</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" th:classappend="${currentPage == 'updateEmployees'} ? 'active'" th:href="@{/web/employees/updateEmployees}">Update Employee</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/web/employees/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>